#home
	.section_one
		position: relative
		max-width: 960px
		margin: 0 auto

		background-image: url('../images/home/first_article_bkg.jpg')
		background-position: 50%
		background-size: cover

		text-align: center
		padding-top: 30px

		.shapes
			position: absolute
			top: 0
			height: 100%
			
			&.left
				left: -104px
				
			&.right
				right: -108px

		h1
			margin-bottom: 15px

		p
			margin-bottom: 20px
			padding: 0 80px

		.button
			margin-bottom: 30px

		ul.people
			width: 100%
			font-size: 0
			list-style: none

			li.person
				display: inline-block
				width: 20%

				img
					width: 100%

	.section_two
		background-color: #97c9d2
		padding: 20px 0 30px
		color: white

		h1
			margin-bottom: 15px
			font-size: 20px
			text-align: center

		ul.links
			max-width: 960px
			margin: 0 auto
			font-size: 0

			li.link
				display: inline-block
				width: 28%
				margin: 3px 2.6%
				
				a
					color: white
					display: block
					padding: 6px 10px
					font-size: 14px
					border: 1px solid rgba(255,255,255,0.5)

					transition: all 0.25s

					&:hover
						border-color: #000
						color: #000

	.section_three
		background-color: #edeee0

		.wrapper
			max-width: 960px
			margin: 0 auto
			color: white

			.left_side
				width: 35%
				height: 100%
				display: inline-block
				background-color: #c0bcb8
				vertical-align: top
				height: 320px

				h1
					margin-bottom: 20px
					padding: 20px 20px 0
					font-size: 24px

				p
					margin-bottom: 40px
					padding: 0 20px
					font-size: 14px

				.button
					margin-left: 20px

			.right_side
				width: 65%
				height: 100%
				display: inline-block
				background-image: url('../images/home/third_article_img.jpg')
				background-position: 50%
				background-size: cover
				vertical-align: top
				height: 320px

	.section_four
		ul.recent_posts
			max-width: 960px
			margin: 20px auto
			font-size: 0

			li.post
				display: inline-block
				width: 28%
				margin: 3px 2.6%

				h1
					margin: 20px 0
					font-size: 20px
					color: #81c1cc

				p
					margin-bottom: 20px
					font-size: 14px


	@media ( max-width: 899px )

		.section_one
			.shapes
				display: none

		.section_two
			ul.links
				li.link
					a
						font-size: 11px

		.section_three
			.wrapper
				.left_side
					h1
						margin-bottom: 10px
						font-size: 24px
					p
						margin-bottom: 10px
						font-size: 12px
	

	@media ( max-width: 639px )

		.section_one
			p
				padding: 0 20px

		.section_two
			ul.links
				li.link
					display: block
					width: 80%
					margin: 10px auto

		.section_three
			.wrapper
				.left_side
				.right_side
					width: 100%

				.left_side
					h1
						margin-bottom: 20px
						font-size: 24px
					p
						margin-bottom: 40px
						font-size: 12px

		.section_four
			ul.recent_posts
				margin-top: 0
				li.post
					width: 80%
					margin: 20px 0 20px 20px