#jobs
	.section_one
		position: relative
		max-width: 960px
		margin: 0 auto
		text-align: center

		.shapes
			position: absolute
			top: 0
			height: 100%
			
			&.left
				left: -104px
				
			&.right
				right: -99px

		.copy_wrapper
			absolute: top left
			width: 100%
			background-color: rgba(255,255,255,0.75)

			h1
				margin-bottom: 15px
				margin-top: 30px

			p
				margin-bottom: 50px
				padding: 0 80px

			.button
				margin-bottom: 30px

		img.crick_logo
			absolute: bottom 50px right 30px

		img.bkg
			width: 100%

	.section_two
		background-color: #e8e9d9

		.content_wrapper
			background-color: #dfdcd6
			max-width: 960px
			margin: 0 auto

			.left_column
			.right_column
				display: inline-block
				vertical-align: top
				padding: 30px 0 100px

			.left_column
				width: 65%

				.button
					margin-right: 8px
					width: 20%

					&:first-child
						margin-left: 20px

				ul.jobs
					list-style: none
					margin: 30px 0 0 20px

					li.page
						div.job
							width: 90%
							margin-bottom: 20px
							
							.title
								font-size: 15px
							
							.description
								font-size: 14px

								.date
									color: #fda029

				.page_nav
					margin-left: 20px
					margin-bottom: 20px

			.right_column
				width: 35%
				box-shadow: inset 2px 0 0 #FFF

				h2
					font-size: 16px
					color: white
					width: 80%
					margin-left: 20px

				p.contact
					color: #000
					margin: 20px 0 0 20px
					font-size: 14px

					span
						display: block
						
						&.name
							margin-top: 10px

					a
						color: black
						border-bottom: 1px solid rgba(0,0,0,0.6)

				h3.useful_links
					color: #FFF
					font-size: 20px
					margin: 40px 0 0 20px

				.button
					display: block
					width: 80% !important
					margin: 20px 0 0 20px



	@media ( max-width: 639px )

		.section_one
			background-image: url('../images/jobs/article_one_bkg.jpg')
			background-position: 50%
			background-size: cover

			img
				display: none

			.copy_wrapper
				position: relative

				h1
					margin-top: 0
					padding-top: 20px
					margin-bottom: 10px

				p
					margin-bottom: 15px
					padding: 0 20px

		.section_two
			.content_wrapper

				.left_column
				.right_column
					display: block
					padding: 30px 0 0 0

				.left_column
					width: 100%
					border-bottom: 1px dashed rgba(255,255,255,0.8)

					.button
						display: block
						margin-right: 0
						margin-bottom: 10px
						width: 90%
						margin-left: 20px

				.right_column
					width: 100%
					padding: 20px 0 30px 0
					box-shadow: none

					h2
						width: 90%

					p.contact
						width: 90%
