#management
	
	.section_one
		position: relative
		max-width: 960px
		margin: 0 auto
		text-align: center

		.shapes
			position: absolute
			top: 0
			height: 100%
			
			&.left
				left: -104px
				
			&.right
				right: -99px

		.copy_wrapper
			absolute: top left
			width: 100%
			background-color: rgba(255,255,255,0.75)

			h1
				margin-bottom: 15px
				margin-top: 30px

			p
				margin-bottom: 50px
				padding: 0 80px

			.button
				margin-bottom: 30px

		img.bkg
			width: 100%

	.section_two
		background-color: #fda029
		text-align: center
		padding: 40px 0

		.copy_wrapper
			max-width: 960px
			margin: 0 auto
			color: white

		h2
			margin: 20px 0
			font-size: 22px

		p
			margin-bottom: 20px
			padding: 0 70px
			font-size: 22px

	.section_three
		max-width: 960px
		margin: 40px auto 50px

		.left_side
			width: 35%
			display: inline-block

			h2
				font-size: 20px
				margin-left: 40px

		.right_side
			display: inline-block
			vertical-align: top

			span.entry
				display: block
				font-size: 20px

	.section_four
		background-color: #e8e9d9

		.content_wrapper
			background-color: #dfdcd6
			max-width: 960px
			margin: 0 auto

			.left_column
			.right_column
				display: inline-block
				vertical-align: top
				width: 50%
				padding-top: 30px
				padding-bottom: 100px

				h2
				p
					margin-left: 20px
					margin-bottom: 20px

				h2
					color: #999999
					font-size: 32px
					width: 70%

				p
					color: #FFF
					width: 80%
					font-size: 18px

			.left_column
				box-shadow: inset -2px 0 0 #FFF

				.entry
					display: block
					margin-left: 20px
					margin-bottom: 10px
					border: 1px solid #FFF
					padding: 10px 20px
					width: 82%

					.date
						color: #fda029
						font-size: 18px
						margin-right: 15px

					.minutes
						color: white
						font-size: 16px

					ul.links
						list-style: none
						margin-top: 10px

						li.link
							margin-bottom: 10px
							a
								color: black
								text-decoration: underline

			.right_column
				ul.questions
					list-style: none
					margin-left: 20px

					li
						margin: 15px 0

						.question
							color: #000
							font-size: 14px
							width: 95%

						.answer
							color: #000
							margin-left: 0
							font-size: 14px
							width: 95%




	@media ( max-width: 899px )

		.section_three
			.left_side
				width: 25%

			.right_side
				span.entry
					font-size: 16px


	@media ( max-width: 639px )

		.section_one
			background-image: url('../images/hr+management/article_one_bkg.jpg')
			background-position: 50%
			background-size: cover

			img
				display: none

			.copy_wrapper
				position: relative

				h1
					margin-top: 0
					padding-top: 20px
					margin-bottom: 10px

				p
					margin-bottom: 15px
					padding: 0 20px


		.section_two
			padding: 20px 0

			h2
				margin: 0

			p
				padding: 0 20px
				margin-bottom: 0

		.section_three
			margin: 20px auto

			.left_side
				width: 100%

				h2
					margin-left: 20px
				
			.right_side
				margin-left: 20px

				span.entry
					font-size: 16px
					margin: 10px 0

		.section_four
			.content_wrapper
				.left_column
				.right_column
					display: block
					width: 100%
					box-shadow: none
					padding-bottom: 10px
					height: auto !important

					h2
						width: 100%