#news
	.section_one
		position: relative
		max-width: 960px
		margin: 0 auto
		text-align: center

		.shapes
			position: absolute
			top: 0
			height: 100%
			
			&.left
				left: -104px
				
			&.right
				right: -99px

		.copy_wrapper
			absolute: top left
			width: 100%
			background-color: rgba(255,255,255,0.75)

			span.date
				margin: 30px 5px 10px
				display: inline-block

			h1
				margin-bottom: 15px
				font-size: 27px

			p
				margin-bottom: 15px
				padding: 0 80px

			.button
				margin-bottom: 30px

		img.bkg
			width: 100%

	.section_two
		background-color: #dfdcd6

		.wrapper
			max-width: 960px
			margin: 0 auto
			color: white
			overflow: hidden

			.left_side
				width: 65%
				height: 100%
				display: inline-block
				background-color: #c0bcb8
				vertical-align: top

				h1
					margin-bottom: 20px
					padding: 20px 20px 0

				p
					margin-bottom: 40px
					margin-left: 20px
					font-size: 14px
					color: #000
					width: 90%

				.button
					margin-left: 20px
					margin-bottom: 20px

			.right_side
				width: 35%
				display: inline-block

				img
					height: 100%

	.section_three
		background-color: #e8e9d9

		.content_wrapper
			background-color: #dfdcd6
			max-width: 960px
			margin: 0 auto

			.left_column
			.right_column
				display: inline-block
				vertical-align: top
				padding: 30px 0 100px

			.left_column
				width: 65%
				box-shadow: inset -2px 0 0 #FFF

				.button
					margin-right: 8px
					width: 20%

					&:first-child
						margin-left: 20px

				h2
					margin: 0 0 20px 20px
					color: #29c5b3
					font-size: 30px

				p.intro
					line-height: 24px
					margin-left: 20px
					font-size: 20px
					color: #FFF
					width: 90%

				ul.jobs
					list-style: none
					margin: 30px 0 40px 20px

					li.page
						
						div.job
							width: 90%
							margin-bottom: 20px

							.date
								font-size: 12px
								color: #999999
							
							.title
								font-size: 15px
							
							.description
								font-size: 14px

								.more
									font-size: 14px
									margin-left: 5px

									a
										border-bottom: 1px solid rgba(0,0,0,0.5)
										padding-bottom: 1px
										color: black

				.page_nav
					margin-left: 20px
					margin-bottom: 20px

			.right_column
				width: 35%

				h2
					margin: 0 0 20px 20px
					color: #29c5b3
					font-size: 30px

				p.intro
					line-height: 24px
					margin-left: 20px
					font-size: 20px
					color: #FFF
					width: 90%

				ul.newsletters
					list-style: none
					li.entry
						margin: 20px 0 20px 20px

						h3.date
							color: #fda029
							font-size: 16px
							margin: 30px 0 15px

						ul.links
							list-style: none

							li.link
								margin: 15px 0
								a
									color: #000
									font-size: 14px
									border-bottom: 1px solid rgba(0,0,0,0.5)
									padding-bottom: 1px



	@media ( max-width: 899px )

		.section_two
			.wrapper
				.left_side
					h1
						margin-bottom: 10px
						font-size: 24px
					p
						margin-bottom: 10px


	@media ( max-width: 639px )

		.section_one
			background-image: url('../images/news/article_one_bkg.jpg')
			background-position: 50%
			background-size: cover

			img
				display: none

			.copy_wrapper
				position: relative

				h1
					width: 90%
					margin: 0 auto 10px auto

				p
					margin-bottom: 15px
					padding: 0 20px

		.section_two
			.wrapper
				.left_side
				.right_side
					width: 100%

					img
						width: 100%
						height: auto

				.left_side
					h1
						margin-bottom: 10px
						font-size: 22px
					p
						margin-bottom: 10px

				.right_side
					background-position: 50% 20%

		.section_three
			.content_wrapper

				.left_column
				.right_column
					display: block
					padding: 30px 0 0 0

				.left_column
					width: 100%
					box-shadow: none
					border-bottom: 1px dashed rgba(255,255,255,0.8)

					.button
						display: block
						margin-right: 0
						margin-bottom: 10px
						width: 90%
						margin-left: 20px

				.right_column
					width: 100%
					padding: 20px 0 30px 0					

					h2
						width: 90%

					p.contact
						width: 90%