#transition
	.section_one
		position: relative
		background-color: #c0bcb8

		.bkg
			absolute: top left
			background-color: #FFF
			width: 100%
			height: 477px

			.shapes
				position: absolute
				top: 0
				height: 100%
				
				&.left
					left: -104px
					
				&.right
					right: -100px
		
		.wrapper
			position: relative
			max-width: 960px
			margin: 0 auto

			.pdf_slideshow
				background-color: #999999

				.prev
				.next
					absolute: top 45%
					font-size: 20px
					line-height: 22px
					color: #FFF
					opacity: 0.5
					cursor: pointer
					transition: opacity 0.25s

					&:hover
						opacity: 1

				.arrow
					display: block
					absolute: top 6px
					font-size: 35px

				.prev
					left: 8%

					.arrow
						left: -48px

				.next
					right: 8%

					.arrow
						right: -44px

				ul.slides
					list-style: none
					position: relative
					width: 70%
					margin: 0 auto

					li.slide
						absolute: top 20px left
						width: 100%
						z-index: 1
						opacity: 0
						transition: opacity 0.5s linear

						img
							width: 100%

						&.current
							z-index: 2
							opacity: 1

				p.description
					text-align: center
					color: #FFF
					margin-top: 20px
					font-size: 18px

					a
						color: #FFF
						border-bottom: 2px solid rgba(255,255,255,0.8)
						padding-bottom: 2px

	.section_two
		background-color: #e8e9d9

		.content_wrapper
			background-color: #dfdcd6
			max-width: 960px
			margin: 0 auto

			.left_column
			.right_column
				display: inline-block
				vertical-align: top
				width: 50%
				padding-top: 30px
				padding-bottom: 100px

			.left_column
				box-shadow: inset -2px 0 0 #FFF

				h2
					margin: 0 0 20px 20px
					color: #29c5b3
					font-size: 30px

				p
					line-height: 24px
					margin-left: 20px
					margin-bottom: 20px
					font-size: 20px
					color: #FFF
					width: 90%

				ul.posts
					list-style: none

					li.entry
						a
							display: block
							margin-left: 20px
							margin-bottom: 10px
							border: 1px solid #FFF
							padding: 10px 20px
							width: 82%
							transition: background-color 0.25s

							&:hover
								background-color: #EEE

							.date
								color: #fda029
								font-size: 18px
								margin-right: 15px
								display: inline-block

							.minutes
								color: white
								font-size: 16px
								display: inline-block

			.right_column
				padding-top: 0

				ul.slides
					list-style: none
					position: relative
					width: 100%
					margin-bottom: 20px

					li.slide
						absolute: top 0px left
						width: 100%
						z-index: 1
						opacity: 0
						transition: opacity 0.5s linear

						img
							width: 100%

						&.current
							z-index: 2
							opacity: 1

				p
					line-height: 24px
					margin-left: 20px
					font-size: 20px
					color: #FFF
					width: 90%


	@media ( max-width: 899px )

		.section_one
			
			.wrapper

				.pdf_slideshow

					.arrow
						display: block
						absolute: top 8px
						font-size: 26px

					.prev
						left: 6%

						.arrow
							left: -36px

					.next
						right: 6%

						.arrow
							right: -32px


	@media ( max-width: 639px )

		.section_one
			
			.bkg
				opacity: 0
			
			.wrapper

				.pdf_slideshow
					
					.prev
					.next
						top: auto
						bottom: 80px
						font-size: 14px

						br
							display: none

					.arrow
						display: block
						absolute: top -1px
						font-size: 14px

					.prev
						left: 20%

						.arrow
							left: -20px

					.next
						right: 20%

						.arrow
							right: -20px

					p.description
						width: 90%
						margin: 30px auto 0
						font-size: 14px

		.section_two
			.content_wrapper
				.left_column
				.right_column
					display: block
					width: 100%
					box-shadow: none
					padding-bottom: 10px
					height: auto !important

					h2
						width: 100%