.button
	font-family: 'din-lig'
	display: inline-block
	padding: 10px 30px
	text-align: center
	border-radius: 1px
	font-size: 14px
	letter-spacing: 1px
	cursor: pointer
	
	transition: all 0.25s

	&.white
		border: 1px solid rgba(255,255,255,0.4)
		color: #FFF
		
	&.black
		border: 1px solid rgba(0,0,0,0.4)
		color: #000

	&:hover
		color: #17c6b3
		border-color: #17c6b3

	&.small
		font-family: 'din-med'
		padding: 5px 10px
		text-align: left
		font-size: 12px
		letter-spacing: 0px
		border: 1px solid rgba(0,0,0,0.4)
		color: #000

		transition: background-color 0.25s
		

		&:hover
			background-color: #EEE