.footer
	background-color: #c0bcb8
	color: white
	padding: 30px 0

	.wrapper
		position: relative
		max-width: 960px
		margin: 0 auto

		span
			display: block
			margin-left: 20px
			margin-bottom: 20px

		p
			margin-left: 20px
			margin-bottom: 0
			font-size: 12px

			a
				color: #FFF
				border-bottom: 1px solid rgba(255,255,255,0.4)

		ul.logos
			list-style: none
			margin-left: 20px
			margin-bottom: 40px

			li.logo
				margin-right: 24px
				display: inline-block
				vertical-align: middle

				a
					display: block

		a.brand_info
			absolute: bottom 60px right 20px
			border-bottom: 1px solid rgba(255,255,255,0.4)
			padding-bottom: 1px
			font-size: 12px
			color: white


	@media ( max-width: 639px )
		.wrapper
			ul.logos
				margin-bottom: 20px

				li.logo
					margin-bottom: 20px
			a.brand_info
				display: inline-block
				position: relative
				bottom: auto
				right: auto
				margin-top: 20px
				margin-left: 20px
					

