.header
	padding-top: 20px
	background-color: #c0bcb8
	color: white

	.title
		text-align: center
		font-size: 35px

	.subtitle
		text-align: center
		font-size: 20px
		font-style: italic
		font-weight: lighter

	.mobile
		display: none

	.nav
		text-align: center
		margin-top: 25px
		display: block
		position: relative

		.nav_item
			display: inline-block
			margin: 0 24px

			a
				color: white
				transition: color 0.25s

			.under_bar
				display: block
				width: 100%
				height: 10px
				margin-top: 8px
				background-color: #c0bcb8

			&:hover
				a
					color: #000

			&.active
				font-family: 'din-med'
				color: #000

				.under_bar
					background-color: #000

	.hidden
		max-width: 960px
		margin: 0 auto
		height: 1px
		margin-top: -1px

	.social
		absolute: top 24px
		text-transform: uppercase
		list-style: none
		text-align: right
		font-size: 10px
		font-weight: bolder

		.link
			margin: 4px 0

			a
				color: #FFF

	
	@media ( max-width: 899px )
		.nav
			.nav_item
				margin: 0 10px
				font-size: 12px

		.social
			right: 10px
			left: auto !important


	@media ( max-width: 639px )
		padding-top: 10px

		.title
			font-size: 24px

		.mobile
			display: block
			text-align: center
			padding: 10px 0
			cursor: pointer

		.nav
			padding-bottom: 10px
			margin-top: 0
			display: none
			border-top: 1px dotted rgba(0,0,0,0.1)
			position: absolute
			width: 100%
			background-color: rgba(192,188,184,1)
			z-index: 3

			.nav_item
				display: block
				margin: 10px 0
				font-size: 16px

				.under_bar
					display: none

		.social
			top: 46px