.page_nav

	.page_nav_button
		display: inline-block
		border: 1px solid rgba(0,0,0,0.3)
		font-size: 12px
		margin-right: 7px
		margin-bottom: 10px

		transition: background-color 0.25s

		&:hover
			background-color: #EEE

		&.active
			background-color: #EEE

		a
			display: block
			padding: 5px 10px
			color: #000

	.prev_page
	.next_page
		a
			padding: 5px 20px