*
	padding : 0
	margin  : 0
	border  : none

body
	-webkit-font-smoothing: antialiased
	-webkit-tap-highlight-color: rgba(0,0,0,0)

a
	text-decoration: none

#dp_swf_engine
	display: none
	
.container
	overflow: hidden


@media (max-width: 899px)
	//
		

@media (max-width: 639px)
	//
		
		
