@font-face
	font-family: 'din-lig'
	src: url('../fonts/DINLig.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/DINLig.woff') format('woff'),
			 url('../fonts/DINLig.ttf')  format('truetype'),
			 url('../fonts/DINLig.svg') format('svg');
	font-weight: normal
	font-style : normal

@font-face
	font-family: 'din-med'
	src: url('../fonts/DINMed.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/DINMed.woff') format('woff'),
			 url('../fonts/DINMed.ttf')  format('truetype'),
			 url('../fonts/DINMed.svg') format('svg');
	font-weight: normal
	font-style : normal

@font-face
	font-family: 'din-reg'
	src: url('../fonts/DINReg.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/DINReg.woff') format('woff'),
			 url('../fonts/DINReg.ttf')  format('truetype'),
			 url('../fonts/DINReg.svg') format('svg');
	font-weight: normal
	font-style : normal

.din_lig
	font-family: 'din-lig'

.din_med
	font-family: 'din-med'

.din_reg
	font-family: 'din-reg'